@use "../../scss/abstracts/" as *;

.form {
  display: flex;
  flex-direction: column;
  max-width: calcRem(380px);
  margin: 0 auto calcRem(100px);

  &__label {
    position: relative;
    margin-bottom: calcRem(30px);
  }
}

.label__placeholder {
  position: absolute;
  top: calcRem(14px);
  left: calcRem(16px);
  transform-origin: top left;
  pointer-events: none;
  color: $color-label;
  transition: transform 200ms;
}

input:focus~.label__placeholder,
input:not(:placeholder-shown)~.label-placeholder {
  padding: 0 calcRem(4px);
  transform: translateY(-21px);
  background-color: #F8F8F8;
  @include font(12px, 14px, 500);
}

[type="text"],
[type="email"],
[type="tel"] {
  padding: calcRem(17px) calcRem(16px);
  width: 100%;
  // margin-bottom: calcRem(50px);
  border: 1px solid $color-input;
  border-radius: 4px;
  background: transparent;
  color: $color-text;
}

[type="tel"] {
  margin-bottom: calcRem(4px);
}

.label__helper {
  display: flex;
  @include font(12px, 14px);
  color: $color-label;
  padding-left: calcRem(16px);
  // padding-bottom: calcRem(25px);
}

.positions {
  display: flex;
  gap: calcRem(7px);
  flex-direction: column;
  margin-bottom: calcRem(47px);
  text-align: left;
  border: none;

  &__title {
    margin-bottom: calcRem(9px);
  }
}

.radio-label {
  display: flex;
  align-items: center;
}

[type="radio"] {
  margin-right: calcRem(12px);
  appearance: none;
  width: calcRem(20px);
  height: calcRem(20px);
  border: 1px solid $color-input;
  border-radius: 50%;
  background-clip: content-box;
  padding: 4px;

  &:checked {
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
  }
}

.file-label {
  margin-bottom: calcRem(48px);
}

.file-container {
  display: flex;
  margin-bottom: calcRem(4px);
}

[type="file"] {
  display: none;
}

.file-upload {
  text-align: left;
  padding: calcRem(14px) calcRem(15px);
  border: 1px solid black;
  width: calcRem(83px);
  border-radius: 4px 0 0 4px;
}

.file-placeholder {
  padding: 14px 16px;
  flex-grow: 1;
  text-align: left;
  border: 1px solid $color-input;
  color: $color-label;
  border-radius: 0 4px 4px 0;
  border-left: none;
}

.submit-link {
  margin: 0 auto;
}

.error {
  &__label {
    @include font(12px, 14px, 500);
    color: $color-error;
  }

  &__helper {
    display: flex;
    padding-left: calcRem(19px);
    @include font(12px, 14px);
    color: $color-error;
  }

  &__border {
    margin-bottom: calcRem(4px);
    border: 2px solid $color-error;
  }
}