@use "../../scss/abstracts/" as *;

.users__list {
  display: grid;
  grid: auto auto / repeat(3, 1fr);
  gap: calcRem(29px);
  padding-bottom: calcRem(47px);

  @include media-tablet {
    grid: auto / repeat(2, 1fr);
    gap: calcRem(16px);
  }

  @include media-mobile {
    grid: auto / 1fr;
    gap: calcRem(19px);
    padding-bottom: calcRem(49px);
  }
}