@use "../../scss/abstracts/"as *;

.user {
  width: calcRem(370px);
  padding: calcRem(20px);
  border-radius: 10px;
  text-align: center;
  background-color: $color-bg-user;

  &__img {
    border-radius: 50%;
    margin-bottom: calcRem(13px);
  }

  &__name {
    margin-bottom: calcRem(20px);
  }

  &__name,
  &__position,
  &__email {
    @include font(16px);
    @extend %text-overflow;
  }

  &__link {
    padding: 4px 19px;
  }
}