@use "../abstracts/" as *;

body {
  width: 100vw;
  @extend %font-primary;
  background-color: $color-bg;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: calcRem(1170px);
  margin: 0 auto;
}

.section {
  margin: 0 auto;
  text-align: center;

  @include media-laptop {
    max-width: 1024px;
    padding: 0 calcRem(60px);
  }

  // @include media-tablet {
  //   max-width: 768px;
  //   padding: 0 calcRem(32px);
  // }

  &__heading {
    padding: calcRem(140px) 0 calcRem(50px);
    @include font(40px, 40px);
  }
}