@use '../abstracts/functions'as *;
@use '../abstracts/variables'as *;

@mixin font($size, $height: 26px, $weight: 400, $style: normal) {
  font-size: calcRem($size);
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}