@use '../abstracts/functions'as *;
@use '../abstracts/variables'as *;

@mixin font($size, $height: 26px, $weight: 400, $style: normal) {
  font-size: calcRem($size);
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin media-laptop {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin media-tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin media-mobile {
  @media screen and (max-width: 360px) {
    @content;
  }
}