@use "../../scss/abstracts/"as *;

.link {
  @extend %font-primary;
  display: inline-block;
  padding: 4px 0;
  border-radius: 80px;
  min-width: calcRem(100px);
  text-align: center;
  background-color: $color-primary;
  color: $color-text;

  :disabled {
    background-color: $color-disabled;
    color: $color-bg-user;
  }
}

.navbar__menu-link {
  margin: 13px 0;
}