@use "../../scss/abstracts/" as *;

.link {
  @extend %font-primary;
  display: inline-block;
  padding: 4px 0;
  border-radius: 80px;
  min-width: calcRem(100px);
  text-align: center;
  background-color: $color-primary;
  color: $color-text;

  &__submit {
    max-width: max-content;
    align-self: center;
    border: none;
    cursor: pointer;
  }

  &:hover {
    background-color: $color-hover;
  }

  &:disabled {
    background-color: $color-disabled;
    color: $color-bg-user;
    cursor: default;
  }
}

.navbar__menu-link {
  margin: 13px 0;
}